#image{
	height:50px;
	margin-top: 10px;
	float: left;
}
h3{
	margin-left: 120px;
}
#todoTextBox{
	/*margin-left: 315px;*/
    margin-top: 25px;
    margin-bottom: 20px;
}
.done{
	margin-left: 315px;
    margin-top: 25px;
    margin-bottom: 20px;
}
 #middle{
	background-color: lavender;
}
